*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: stretch;
    margin: 0;
    min-width: 0px;
}

.contentCard, #mainTitle {
    background-color: beige;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 15px 0px;
}

#mainTitle {
    text-align: center;
    font-weight: bold;
    font-size:xx-large;
}

ul, ol {
    list-style-position: outside;
    padding-left: 30px;
}

h2 {
    text-align: center;
    margin-top: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: stretch;
    background-color: tan;
    padding: 2%;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 0px;
    flex-shrink: 1;
    flex-basis: 1200px;
}


.cardMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
    background-color: beige;
    border-radius: 5px;
    padding: 30px;
    text-indent: 0;
}

.recipeImageContainer{
    flex:1;
    display: flex;
    flex-direction: column;
    min-width: 0px;
}

img {
    flex: 0;
    object-fit: contain;
    margin-bottom: 10px;
}

.cardMenu li {
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 30px;
    margin: 15px;
}

.menuImage {
    height: 200px;
    width: 250px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.sidebar {
    flex-basis: 200px;
    flex: 1;
}
